.site-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/scott-webb-unsplash.jpg");
  color: black;
}

main {
  margin-top: 10%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  height: 50%;
  width: 100%;
}
main h1 {
  font-size: 4em;
  margin: 0 10% 10% 10%;
  text-align: center;
}

main h2 {
  text-align: center;
  font-size: 2em;
  margin: 0 0;
}

#icons {
  display: flex;
  min-height: 125px;
  justify-content: center;
}

.fb {
  width: 100px;
  height: 100px;
}

.ig {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.linkedin {
  width: 90px;
  height: 90px;
  padding: 5px;
}

.git {
  width: 80px;
  height: 80px;
  padding: 10px;
}
