body {
width: 100vw;
height: 90vh;
color: white;
background-image: url(../img/plantwall.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
 font-weight: bold;
}

nav {
  top: 0;
  left: 0;
  background-color: rgba(3, 82, 47, 0.99);
  position: fixed;
  width: 100%;
  height: 3.2em;
  font-size: 1.3em;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-right: 2em;
}

main {

  height: 80%;
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
}

main h1 {
  font-family: 'Limelight', cursive;
  margin-top: 15%;
  margin-left: 18%;
  font-size: 2.5em;
}

main h2 {
  font-family: 'Satisfy', cursive;
  margin-top: 5%;
  margin-left: 25%;
  font-size: 6em;
}

main h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.8em;
  margin-left: 38%;
  margin-top: -10px;
}
