.site-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/desk.jpg");
  color: black;
}

main h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 10%;
  margin-left: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects div {
  display: inline-block;
  height:200px;
  width: 200px;
  border: solid 2px yellow;
  margin: 15px;

  text-align: center;
}

.projects h2 {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 0;
}

.git {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.projects img:hover {
  background-color: white;
}
